$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

.container{
    border: 1px solid $color-primary;
    width: 100%;
    
} h1 {
    text-align: center;
    color:$color-tertiary;
    text-decoration: $color-secondary underline;
}

.box_container{
    display: flex;
    margin:15px;
    color:$color-secondary;
    article{
        border:1px solid $color-tertiary;
        padding:15px;
        
    }
    :nth-child(even){
        color:$color-primary
    }
}