* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
 

  thead{
    justify-content: center;
    height: min-content;
    tr {
        height: 150px;
        
    td {
        text-align: center;
        border: 1px solid red;
        
        
    }}
  }
  tbody tr td {
    text-align: center;
    border: 1px solid black;
  }
}
