* {box-sizing: border-box;}

body{
    display: grid;
    grid-template-areas: 

    "greenbox greenbox greenbox"
    "yellowbox redbox bluebox"
    "yellowbox redbox bluebox"
    "orangebox orangebox bluebox";
    grid-template-columns: repeat(3,1fr);
}

#green {grid-area: greenbox;}
#yellow {grid-area: yellowbox;}
#red {grid-area: redbox;}
#blue {grid-area: bluebox;}
#orange {grid-area: orangebox;}

#yellow ul , #red ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}